@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&display=swap');
body {
  font-family: 'Bangers', sans-serif;
  background-color: black;
}
.hometitle {
  font-size: 80px;
  margin: 0px 60px 0px 80px;
  color: #FFE12D;
}
.address {
  font-size: 35px;
  margin: 5px 0px 0px 0px;
  color: white;
}
.homeaddress {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.header {
display: flex;
flex-direction: row;
margin: 35px 0px 30px 0px;
}
.homeimg {
width: 350px;
height: auto;
}
.home2 {
margin: 0px 30px 0px 30px;
}
.homeimgcontainer {
display: flex;
flex-direction: row;
justify-content: center;
}


@media (max-width: 975px) {
.homeimg {
  width: 275px;
}
.homeaddress {
  margin-bottom: 35px;
  align-items: center;
}
.hometitle {
  margin-left: 70px;
}
.address {
  font-size: 30px;
}
}
@media (max-width: 750px) {
.home3 {
  display: none;
}
.home2 {
  margin-right: 0px;
}
.header {
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.hometitle {
  margin: 0px 0px 10px 0px;
}
}
@media (max-width: 500px) {
.homeimgcontainer {
  flex-direction: column;
  align-items: center;
}
.home2 {
  margin: 30px 0px 0px 0px;
}
.hometitle {
  font-size: 65px;
}
.address {
  font-size: 25px;
}
.header {
  margin-bottom: 0px;
}
}
